
union(): used to merge two dataframe's of the same structure/schema

unionAll(): deprecated since pyspark "2.0.0" version and recommends using the union() method

In [0]:
from pyspark.sql import Row

In [0]:
data_1 = [Row(employee_name="Alice", employee_gender="F", employee_salary=70000),
         Row(employee_name="Bob", employee_gender="M", employee_salary=80000),
         Row(employee_name="Charlie", employee_gender="M", employee_salary=55000),
         Row(employee_name="David", employee_gender="M", employee_salary=45000),
         Row(employee_name="Eve", employee_gender="F", employee_salary=50000),
          Row(employee_name="Eve", employee_gender="F", employee_salary=50000)
         ]
        
df_1 = spark.createDataFrame(data_1)
df_1.show()

+-------------+---------------+---------------+
|employee_name|employee_gender|employee_salary|
+-------------+---------------+---------------+
|        Alice|              F|          70000|
|          Bob|              M|          80000|
|      Charlie|              M|          55000|
|        David|              M|          45000|
|          Eve|              F|          50000|
|          Eve|              F|          50000|
+-------------+---------------+---------------+

In [0]:
data_2 = [Row(employee_name="Frank", employee_gender="M", employee_salary=60000),
         Row(employee_name="Grace", employee_gender="F", employee_salary=65000),
         Row(employee_name="Hannah", employee_gender="F", employee_salary=70000),
         Row(employee_name="Ian", employee_gender="M", employee_salary=48000),
         Row(employee_name="Jill", employee_gender="F", employee_salary=53000),
          Row(employee_name="Eve", employee_gender="F", employee_salary=50000)
        ]

df_2 = spark.createDataFrame(data_2)
df_2.show()

+-------------+---------------+---------------+
|employee_name|employee_gender|employee_salary|
+-------------+---------------+---------------+
|        Frank|              M|          60000|
|        Grace|              F|          65000|
|       Hannah|              F|          70000|
|          Ian|              M|          48000|
|         Jill|              F|          53000|
|          Eve|              F|          50000|
+-------------+---------------+---------------+

In [0]:
df_1_union_df_2 = df_1.union(df_2).distinct()

#union don't remove duplicate value, it only remove in sql

df_1_union_df_2.show()

+-------------+---------------+---------------+
|employee_name|employee_gender|employee_salary|
+-------------+---------------+---------------+
|        Alice|              F|          70000|
|          Bob|              M|          80000|
|      Charlie|              M|          55000|
|        David|              M|          45000|
|          Eve|              F|          50000|
|        Frank|              M|          60000|
|        Grace|              F|          65000|
|       Hannah|              F|          70000|
|          Ian|              M|          48000|
|         Jill|              F|          53000|
+-------------+---------------+---------------+

Dealing when schemas are different

In [0]:
#Dataframes with same column names

data_1 = [[10,20,30]]
schema_1 = "col_0 int , col_1 int , col_2 int"
df_1 = spark.createDataFrame(data = data_1, schema = schema_1)

data_2 = [[100,200,300]]
schema_2 = "col_0 int , col_1 int , col_2 int"
df_2 = spark.createDataFrame(data = data_2, schema = schema_2)

#performing union
df_3 = df_1.unionByName(df_2)
df_3.show()

+-----+-----+-----+
|col_0|col_1|col_2|
+-----+-----+-----+
|   10|   20|   30|
|  100|  200|  300|
+-----+-----+-----+

In [0]:
#Dataframes with different column names

data_1 = [[10,20,30]]
schema_1 = "col_0 int , col_1 int , col_2 int"
df_1 = spark.createDataFrame(data = data_1, schema = schema_1)

data_2 = [[100,200,300]]
schema_2 = "col_1 int , col_2 int , col_3 int"
df_2 = spark.createDataFrame(data = data_2, schema = schema_2)

#performing union on df1 & df2
# df_3 = df_1.unionByName(df_2) --giving error

df_3 = df_1.unionByName(df_2, allowMissingColumns = True)
df_3.show()

+-----+-----+-----+-----+
|col_0|col_1|col_2|col_3|
+-----+-----+-----+-----+
|   10|   20|   30| null|
| null|  100|  200|  300|
+-----+-----+-----+-----+